body{
	background-image: url(../Assets/Backgrounds/jpg/background-3.jpg);
	background-size: cover;
}
#header{
	background-image: url(../Assets/Backgrounds/jpg/background-3.jpg);
	background-size: cover;
}
#head{
	float: left;
	text-align: center;
}
#head1{
	float: right;
}
#menu a{
	text-decoration: none;
	color: black;
}
#box1 p{
	text-align: left;
	font-weight: bold;
}
#menu1, #box1{
	background-image: url(../Assets/Backgrounds/jpg/background-1.jpg);
	background-size: cover;
	text-align: center;
}
#menu2, #box2{
	background-image: url(../Assets/Backgrounds/jpg/background-8.jpg);
	background-size: cover;
	text-align: center;
}
#menu3, #box3{
	background-image: url(../Assets/Backgrounds/jpg/background-4.jpg);
	background-size: cover;
	text-align: center;
}
#menu4, #box4{
	background-image: url(../Assets/Backgrounds/jpg/background-6.jpg);
	background-size: cover;
	text-align: center;
}